<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Teleradiologiewebportal</display-name>

	<context-param>
		<param-name>maxSize</param-name>
		<param-value>3145728</param-value>
	</context-param>

	<context-param>
		<param-name>slowUploads</param-name>
		<param-value>true</param-value>
	</context-param>

	<listener>
		<listener-class>org.openehealth.twp.tewepo.controller.DeployListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>log4j-init</servlet-name>
		<servlet-class>org.openehealth.twp.tewepo.controller.Log4jInit</servlet-class>
		<init-param>
			<param-name>log4j-init-file</param-name>
			<param-value>WEB-INF/log4j_v1.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SendDicomMailsServlet</servlet-name>
		<display-name>SendDicomMailsServlet</display-name>
		<description></description>
		<servlet-class>
			org.openehealth.tewepo.twp.dmp.dmc.server.email.SendDicomMailsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DebugSendMailServlet</servlet-name>
		<display-name>DebugSendMailServlet</display-name>
		<description></description>
		<servlet-class>org.openehealth.twp.tewepo.debug.DebugSendMailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CopyTestMailsServlet</servlet-name>
		<display-name>CopyTestMailsServlet</display-name>
		<description></description>
		<servlet-class>org.openehealth.twp.tewepo.debug.CopyTestMailsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SendDicomMailsService</servlet-name>
		<display-name>SendDicomMailsService</display-name>
		<description></description>
		<servlet-class>
			org.openehealth.tewepo.twp.dmp.dmc.client.rpc.SendDicomMailsService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Dispatcher</servlet-name>
		<servlet-class>org.openehealth.twp.tewepo.controller.Dispatcher</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>org.openehealth.twp.tewepo.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadFileServlet</servlet-name>
		<servlet-class>org.openehealth.twp.tewepo.controller.UploadFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KeywordRequestServlet</servlet-name>
		<servlet-class>org.openehealth.twp.tewepo.controller.KeywordRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UsernameRequestServlet</servlet-name>
		<servlet-class>org.openehealth.twp.tewepo.controller.UsernameRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ActivationServlet</servlet-name>
		<servlet-class>org.openehealth.twp.tewepo.controller.ActivationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ContactServlet</servlet-name>
		<servlet-class>org.openehealth.twp.tewepo.controller.ContactServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowAllUserServlet</servlet-name>
		<servlet-class>org.openehealth.twp.tewepo.controller.ShowAllUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddRecipientServlet</servlet-name>
		<servlet-class>org.openehealth.twp.tewepo.controller.AddRecipientServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistrationServlet</servlet-name>
		<servlet-class>org.openehealth.twp.tewepo.controller.RegistrationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditUserDataServlet</servlet-name>
		<servlet-class>org.openehealth.twp.tewepo.controller.EditUserDataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminEditUserDataServlet</servlet-name>
		<servlet-class>org.openehealth.twp.tewepo.controller.AdminEditUserDataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectRoleServlet</servlet-name>
		<servlet-class>org.openehealth.twp.tewepo.controller.SelectRoleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowListOfDicomMailRecipientsServlet</servlet-name>
		<servlet-class>org.openehealth.twp.tewepo.controller.ShowListOfDicomMailRecipientsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowLogFilesServlet</servlet-name>
		<servlet-class>org.openehealth.twp.tewepo.controller.ShowLogFilesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SystemconfigurationServlet</servlet-name>
		<servlet-class>org.openehealth.twp.tewepo.controller.SystemconfigurationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowSystemConfigurationServlet</servlet-name>
		<servlet-class>org.openehealth.twp.tewepo.controller.ShowSystemConfigurationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>gwtUploadServlet</servlet-name>
		<servlet-class>org.openehealth.tewepo.twp.dmp.dmc.server.upload.GwtUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>sendDicomMailsServlet</servlet-name>
		<servlet-class>org.openehealth.tewepo.twp.dmp.dmc.server.email.SendDicomMailsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DicomEmailServlet</servlet-name>
		<servlet-class>org.openehealth.twp.tewepo.controller.DicomEmailServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>DebugSendMailServlet</servlet-name>
		<url-pattern>/DebugSendMailServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CopyTestMailsServlet</servlet-name>
		<url-pattern>/CopyTestMailsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendDicomMailsServlet</servlet-name>
		<url-pattern>/SendDicomMailsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddRecipientServlet</servlet-name>
		<url-pattern>/AddRecipientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendDicomMailsService</servlet-name>
		<url-pattern>/SendDicomMailsService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Dispatcher</servlet-name>
		<url-pattern>/Dispatcher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KeywordRequestServlet</servlet-name>
		<url-pattern>/KeywordRequestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UsernameRequestServlet</servlet-name>
		<url-pattern>/UsernameRequestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActivationServlet</servlet-name>
		<url-pattern>/ActivationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowAllUserServlet</servlet-name>
		<url-pattern>/ShowAllUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ContactServlet</servlet-name>
		<url-pattern>/ContactServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadFileServlet</servlet-name>
		<url-pattern>/UploadFileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
		<url-pattern>/RegistrationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditUserDataServlet</servlet-name>
		<url-pattern>/EditUserDataServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminEditUserDataServlet</servlet-name>
		<url-pattern>/AdminEditUserDataServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectRoleServlet</servlet-name>
		<url-pattern>/SelectRoleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowListOfDicomMailRecipientsServlet</servlet-name>
		<url-pattern>/ShowListOfDicomMailRecipientsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowLogFilesServlet</servlet-name>
		<url-pattern>/ShowLogFilesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SystemconfigurationServlet</servlet-name>
		<url-pattern>/SystemconfigurationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowSystemConfigurationServlet</servlet-name>
		<url-pattern>/ShowSystemConfigurationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DicomEmailServlet</servlet-name>
		<url-pattern>/DicomEmailServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>gwtUploadServlet</servlet-name>
		<url-pattern>*.gupld</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sendDicomMailsServlet</servlet-name>
		<url-pattern>*.sdm</url-pattern>
	</servlet-mapping>



	<welcome-file-list>
		<welcome-file>homepage.jsp</welcome-file>
	</welcome-file-list>


</web-app>
